<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>编辑成果</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        body{
            padding: 20px;
        }
        .layui-input{height:30px;} /* layui-input 默认太高了，这里固定高度*/
        label.required:after {   /* 给红色的必填项打红色星号（文字后）如果打前面用before*/
            content: ' *';
            color: red;
        }
    </style>
</head>
<body>

<form class="layui-form" action="" th:object="${project}">
    <input type="hidden" th:field="*{id}" >
    <div class="layui-form-item">
        <label class="layui-form-label required">名称</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" th:field="*{name}" required="required"  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">团队</label>
        <div class="layui-input-block">
            <input type="text"  name="teamName" th:value="${teamName}" autocomplete="off" class="layui-input" disabled="disabled" readonly>
        </div>
    </div>

    <div class="layui-form-item" pane="">
        <label class="layui-form-label required">参与成员</label>
        <div class="layui-input-block">
            <input name="students" id="students" type="checkbox"
                   th:each ="student:${studentList}"
                   th:value="${student.id}"
                   th:title="${student.name}"
                   th:checked="${studentChecked.contains(student.id)}"
                   lay-skin="primary" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">获得日期</label>
        <div class="layui-input-block">
            <input type="text" name="time" th:field="*{time}" required="required"  lay-verify="required" placeholder="请输入获得日期" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">项目介绍</label>
        <div class="layui-input-block">
            <textarea th:field="*{note}" placeholder="请输入项目介绍" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">上传图片</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="uploadPhoto">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
    <input type="hidden" id="photoImage" name="picture" th:field="*{picture}">

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">图片预览</label>
        <div class="layui-input-block">
            <img name="filename" id="image_yl" alt="" ><br/><br/>
            <button type="button" class="layui-btn layui-btn-danger" id="delfile" onclick="delFile();">删除图片</button>
        </div>
    </div>

    <div class="layui-form-item layui-form-text" >
        <label class="layui-form-label">导师意见</label>
        <div class="layui-input-block">
            <textarea th:field="*{teacherNote}" readonly  placeholder="无" class="layui-textarea "></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text" >
        <label class="layui-form-label">管理员意见</label>
        <div class="layui-input-block">
            <textarea th:field="*{adminNote}" readonly placeholder="无" class="layui-textarea "></textarea>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="btn-sumbit" class="layui-btn" lay-submit lay-filter="btn-submit-filter">立即提交</button>
        </div>
    </div>

</form>

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:inline="javascript">
        var ctxPath = [[@{/}]];
        layui.use(['laydate','table','form','upload'], function(){
            var form = layui.form;
            var $ = layui.$;
            var upload = layui.upload;
            var laydate = layui.laydate;
            var upload = layui.upload;

            var imagePath  = [[${project.picture}]];
            if(imagePath != null){
                $(document).ready(function(){
                    $("#image_yl").attr("style","width: 400px;");
                    $("#image_yl").attr("src",imagePath);
                    //$("#image_yl").attr("th:src","pictures/"+imagePath);
                });
            }

            delFile = function () {
                $("#image_yl").attr("style","width: 0px; height:0px;");
                $("#photoImage").attr("value",'');
                $.post(ctxPath + "notice/deletePicture/"+imagePath);
            }

            //执行实例
            var uploadInst = upload.render({
                elem: '#uploadPhoto' //绑定元素
                ,accept: 'images'
                ,url: ctxPath + 'notice/image' //上传接口
                ,done: function(res){
                    //上传完毕回调
                    if(res.code == 1){
                        layer.msg(res.msg);
                        imagePath = "http://localhost:8080/pictures/"+res.data.src;
                        $("#image_yl").attr("style","width: 400px; ");
                        //$("#image_yl").attr("src","pictures/"+imagePath);
                        $("#image_yl").attr("src",imagePath);
                        $("#photoImage").attr("value",imagePath);
                    }else {
                        layer.msg(res.msg);
                    }
                }
                ,error: function(){
                    //请求异常回调
                    layer.msg("上传失败，请联系管理员！");
                }
            });

            //日期模块
            laydate.render({
                elem: '[name="time"]' //指定元素
            });

            //表单提交
            form.on('submit(btn-submit-filter)', function(data){
                //将登录按钮置灰不可用
                $("#btn-sumbit").attr("disabled","disabled").addClass("layui-btn-disabled");

                var checkBox = document.getElementsByName("students");
                var idArr = Array();
                for(var i=0;i<checkBox.length;i++){
                    if(checkBox[i].checked){
                        idArr.push(checkBox[i].value);
                    }
                }
                if(idArr.length == 0){
                    layer.alert('您没有选中任何成员!',{icon: 2,anim: 6,title: "警告"});
                    $("#btn-sumbit").removeAttr("disabled","disabled").removeClass("layui-btn-disabled");
                    return false;
                }


                //异步请求提交数据
                var url = ctxPath + "project/update/" + idArr;
                data.field._method = "PUT";
                $.post(url,data.field,function (response) {
                    if(response.code == 0){
                        layer.msg(response.msg,{
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            //提交成功则关闭表单，并且重新刷新表格
                            parent.refreshTable();
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                         });
                    }else{
                        //将登录按钮取消置灰，恢复可用
                        $("#btn-sumbit").removeAttr("disabled","disabled").removeClass("layui-btn-disabled");
                        //失败则提示错误信息，窗口不关闭
                        layer.msg("修改失败，请联系管理员！", {
                            icon: 2,
                            anim: 6
                        });
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>