<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
        .layui-input{height:30px;} /* layui-input 默认太高了，这里固定高度*/
        label.required:after {   /* 给红色的必填项打红色星号（文字后）如果打前面用before*/
            content: ' *';
            color: red;
        }
    </style>
</head>
<body>

<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <form class="layui-form" action="" >
            <div class="layui-form-item">
                <label class="layui-form-label required">旧的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPassword" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码"  value="" class="layui-input">
                    <tip>填写自己账号的旧的密码。</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">新的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="newPassword" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="againPassword" lay-verify="required" lay-reqtext="确认密码不能为空" placeholder="请确认新的密码"  value="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="btn-submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="btn-submit-filter">确认保存</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script th:inline="javascript">
    var ctxPath = [[@{/}]];
    layui.use(['form','miniTab'], function () {
        var form = layui.form;
        var  layer = layui.layer;
        var  miniTab = layui.miniTab;
        var $ = layui.$;

        //监听提交
        form.on('submit(btn-submit-filter)', function (data) {
            //将修改按钮置灰不可用
            $("#btn-submit").attr("disabled","disabled").addClass("layui-btn-disabled");
            //异步请求提交数据
            var url = ctxPath + "user/updatePassword";
            data.field._method = "PUT";
            $.post(url,data.field,function (response) {
                if(response.code == 0){
                    layer.msg(response.msg,{
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        $.get(ctxPath + "user/logout");
                        parent.location.reload();
                    });
                }else{
                    //失败则提示错误信息，窗口不关闭
                    layer.msg(response.msg, {
                        icon: 2,
                        anim: 6
                    }, function(){
                        //将登录按钮取消置灰，恢复可用
                        $("#btn-submit").removeAttr("disabled","disabled").removeClass("layui-btn-disabled");
                    });
                }

            });
            return false;
        });

    });
</script>
</body>
</html>